*,
:after,
:before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #1575b1;
	color: white;
	font-family: "Martel Sans", sans-serif;
	font-size: 18px;
	.App {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		input {
			height: 40px;
			margin-top: 20px;
			width: 200px;
			font-size: 20px;
		}
		div.text {
			font-size: 20px;
			text-align: right;
			height: 300px;
			/* border: 1px solid; */
			width: 360px;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
	
	button {
		cursor: pointer;
		padding: 0px 12px;
		background-color: #e8e8e8;
		border-radius: 8px;
		color: #444;
		transition: all ease-in-out 0.3s;
		border: none;
		font-size: 0.9em;
		height: 36px;
		margin-right: 10px;
		white-space: nowrap;

		&:hover {
			background-color: rgb(225, 225, 225);
			color: black;
		}
	}

	header {
		display: flex;
		border-bottom: 1px solid #c5c5c5ee;
		background: #1d3d5a;
		align-items: center;
		height: 66px;
		padding: 0 30px;
		justify-content: space-between;

		.search_content {
			margin: 10px;

			&,
			* {
				display: flex;
				flex-grow: 1;
				align-items: center;
			}
			form {
				label {
					flex-grow: 0;
				}
			}
		}
		.user_name {
			margin: 0 10px;
			span {
				color: #f5cf18;
				padding-left: 4px;
				text-transform: capitalize;
			}
		}

		form {
			display: flex;
			align-items: center;

			label {
				font-size: 18px;
				margin: 0 18px;
				color: #fff;
				white-space: nowrap;
			}
			input {
				transition: all 100ms;
				border: 1px solid #a2a2a2;
				height: 36px;
				border-radius: 8px;
				padding: 0 20px;
				color: #777777;
				font-size: 16px;
				width: 100%;
				&::placeholder {
					color: #d5cdeb;
					opacity: 0;
				}
				max-width: 400px;
			}
			&.start {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-53%, -50%);
				width: 60%;
				max-width: 24em;
				color: #fff;
				font-size: 24px;
				// transition: all 1s;
				white-space: nowrap;
				input {
					width: 100%;
				}
			}
		}
	}
	.list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		.item {
			width: 16em;
			margin: 1em;
			border: 1px solid #fff;
			background-color: #000;
			cursor: pointer;
			&:hover {
				opacity: 0.9;
			}

			.poster {
				background-size: cover;
				height: 400px;
				cursor: pointer;
			}
			.item_footer {
				display: flex;
				flex-direction: row;
				padding: 10px;

				.details {
					color: #f5cf18;
					display: flex;
					flex-grow: 1;
					align-items: center;
					font-size: 0.9em;
					overflow: hidden;
					.title,
					.year {
						color: #fff;
						white-space: nowrap;
						display: block;
						font-size: 15px;
					}
					.year {
						color: #d6d6d6;
						margin-left: 10px;
					}
					.title {
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
				.favorite {
					.favorite_add {
						cursor: pointer;
						margin-right: 6px;
						.icon {
							color: #b1b1b1;
							fill: currentColor;
							width: 1em;
							height: 1em;
							font-size: 1.5rem;
							&.fav {
								color: #f1c135;
							}
							&:hover {
								color: #fad25a;
							}
						}
					}
				}
			}
		}

		.empty_msg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-width: 90%;
			max-height: 90%;
			color: #fff;
			font-size: 24px;
			white-space: nowrap;
		}

		.popup {
			position: fixed;
			z-index: 10;
			width: 100%;
			height: 100%;
			background: #000000d6;
			transition: all 0.5s;
			top: 0;

			.item {
				position: absolute;
				left: 50%;
				top: 46%;
				transform: translate(-54%, -50%);
				width: 60%;
				display: flex;
				padding: 36px;
				align-items: end;
				background-color: #000;
				max-width: 900px;
				cursor: default;
				.poster {
					margin-right: 34px;
					cursor: default;
				}
				.title {
					color: #f5cf18;
				}
				.year {
					padding-left: 6px;
					color: #dedede;
				}
				.content {
					flex-direction: column;

					.details {
						margin-bottom: 12px;
						display: flex;
					}

					.plot {
						//	display: -webkit-box;
						//	-webkit-line-clamp: 2;
						//	-webkit-box-orient: vertical;
						//	overflow: hidden;
					}
					.link {
						cursor: pointer;
						color: #d8d8d8;
						font-size: 0.8em;
						margin-top: 12px;
						&:hover {
							color: #fff;
						}
					}
				}
			}

			.close {
				position: absolute;
				top: 10px;
				right: 21px;
				color: #fff;
				font-size: 33px;
				cursor: pointer;
				z-index: 2;
				&:hover {
					opacity: 0.7;
				}
				&::after {
					content: "x";
					display: block;
				}
			}
		}
	}
	@media (max-width: 600px) {
		.item {
			flex-direction: column;
			width: 80% !important;
		}
	}
	@media (max-width: 900px) {
		.popup {
			.item {
				flex-direction: column;
				justify-content: center;
				min-width: 380px;
				.content {
					margin-top: 10px;
				}
			}
		}
	}
	@media (max-width: 520px) {
		.search_content {
			label {
				display: none;
			}
			input {
				&::placeholder {
					color: #ababab;
					opacity: 1;
				}
			}
		}
	}
}
.more .plot {
	//	-webkit-line-clamp: inherit !important;
}
.more .link {
	display: none;
}
